.body {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: $teal_dark;
	padding: 1em;

	@include round(1, em);

	.display {
		height: auto;
		width: 100%;
		padding: 0.5em;
		margin-bottom: 1em;

		outline: none;
		border: none;

		cursor: default;

		@include round(1, em);
	}

	.buttons {
		display: flex;
		flex-direction: row;
		gap: 5px;

		.numberButtons {
			display: grid;
			gap: 5px;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.operators {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		button {
			font-weight: bold;
			background-color: $pink;
			padding: 1em 2em;
			@include round(1, em);
			border: none;
			outline: none;

			&:hover {
				background-color: darken($pink, 10%);
			}

			&:active {
				background-color: $teal_light;
			}
		}

		.clear {
			grid-column: 2/4;
		}
		.del {
			grid-column: 1/2;
		}
		.equal {
			grid-column: 2/4;
		}
	}
}
